.bandeau {
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
  overflow: hidden;
  position: absolute;
  top: 100vh;
  width: 100vw;
  background-color: black;
}

@-webkit-keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.bandeau .photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-animation: slideshow 30s infinite linear;
          animation: slideshow 30s infinite linear;
}

.bandeau .photo .photo01 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: silver;
}

.bandeau .photo .photo02 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: silver;
}

.bandeau .projects {
  margin-top: 20vh;
  display: block;
  font-family: Champagne;
}

.bandeau .projects .description {
  text-align: center;
  color: white;
}

.bandeau .projects .description h2 {
  font-size: 8rem;
  font-family: Morganite;
}

.bandeau .projects .description p {
  text-align: justify;
  margin: 3vw;
  font-size: 1.2rem;
}

.bandeau .projects .github {
  margin-top: 3.5vh;
  font-weight: bold;
}

.bandeau .projects .github a {
  color: white;
}

.bandeau .projects .github a .fab, .bandeau .projects .github a .fas {
  margin-left: 1vw;
  font-size: 1.5rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.bandeau .projects .github a .fab:hover, .bandeau .projects .github a .fas:hover {
  color: gray;
}

.bandeau .projects h3 {
  font-size: 2rem;
  text-decoration: underline;
}

.bandeau .projects ul {
  padding-top: 2.5vh;
}

.bandeau .projects ul li {
  list-style: none;
  font-size: 1.3rem;
}

.bandeau .projects .hutownBlock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.bandeau .projects .hutownBlock .hutownImg {
  margin-left: 5vw;
  max-width: 60vw;
  max-height: 60vh;
}

.bandeau .projects .fairmadeBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30vh;
  margin-right: 10vw;
}

.bandeau .projects .fairmadeBlock .fairmadeImg {
  margin-left: 2vw;
  max-width: 60vw;
  max-height: 60vh;
}

.bandeau .projects .recipeBlock {
  margin-top: 30vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.bandeau .projects .recipeBlock .recipeImg {
  margin-left: 10vw;
  max-width: 60vw;
  max-height: 60vh;
}

.bandeau .projects .twitterBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30vh;
  margin-right: 10vw;
}

.bandeau .projects .twitterBlock .twitterImg {
  margin-left: 2vw;
  max-width: 60vw;
  max-height: 60vh;
}

.bandeau .projects .weatherBlock {
  margin-top: 30vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.bandeau .projects .weatherBlock .weatherImg {
  margin-left: 10vw;
  max-width: 60vw;
  max-height: 60vh;
}

.bandeau .sentenceEnd {
  color: white;
  font-size: 4.5rem;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
  font-family: Morganite;
}

@media screen and (max-width: 890px) {
  .bandeau {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    top: 130vh;
    width: 100vw;
    background-color: black;
  }
  .bandeau .photo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-animation: slideshow 30s infinite linear;
            animation: slideshow 30s infinite linear;
  }
  .bandeau .photo .photo01 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
  .bandeau .photo .photo02 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
}
/*# sourceMappingURL=Projects.css.map */