

.bandeau {
    
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 110vh;
    background-color: black;


    @keyframes slideshow {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    
    }


    .photo {
        display: inline-flex;
        animation: slideshow 30s infinite linear;

        .photo01 {
            padding-left: 5vw;
            padding-top: 2vh;
            font-size: 15rem;
            font-family: Morganite;
            color: black;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: silver;
        }

        .photo02 {
            padding-left: 5vw;
            padding-top: 2vh;
            font-size: 15rem;
            font-family: Morganite;
            color: silver; 
        }
    }

}
.imageList{
display: flex;
justify-content: space-around;
.flip-card{
    padding-top: 10vh;
    background-color: transparent;
    width: 20vw;
    height: 25rem;
    perspective: 1000px;
    border-radius: 10px;
    .inner{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        .front{
            background-color: #A49C9B;
            color: black;
            border-radius: 10px;
            font-family: Morganite;
            h3{
                padding-top: 1vh;
                font-size: 7vh;
                text-decoration: underline;
            }
            p{
                padding-top: 3vh;
                padding-left: 1.5vw;
                padding-right: 1.5vw;
                font-size: 3.5vh;
            }
        }
        .back{  
            
            color: white;
            transform: rotateY(180deg);
            img{
                height: 25rem;
                border-radius: 10px;
                width: 20vw;
        
                }
        }
    }
}
.flip-card:hover .inner {
    transform: rotateY(180deg);
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.imageList2{

    display: flex;
    justify-content: space-around;
  
    .flip-card{
        padding-top: 10vh;
        background-color: transparent;
        width: 20vw;
        height: 25rem;
        perspective: 1000px;
        border-radius: 10px;
        .inner{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            .front{
                background-color: #A49C9B;
                color: black;
                border-radius: 10px;
                font-family: Morganite;
                h3{
                    padding-top: 1vh;
                    font-size: 7vh;
                    text-decoration: underline;
                }
                p{
                    padding-top: 3vh;
                    padding-left: 1.5vw;
                    padding-right: 1.5vw;
                    font-size: 3.5vh;
                }
            }
            .back{  
                
                color: white;
                transform: rotateY(180deg);
                img{
                    height: 25rem;
                    border-radius: 10px;
                    width: 20vw;
            
                    }
            }
        }
    }
    .flip-card:hover .inner {
        transform: rotateY(180deg);
      }
      .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
}

@media screen and (max-width: 890px) {
    .bandeau {
        position: absolute;
        top: 100vh;
        width: 100vw;
        height: 100vh;
        background-color: black;
        overflow-x: hidden;


        .photo {
            display: inline-flex;
            animation: slideshow 30s infinite linear;
    
            .photo01 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo02 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo03 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo04 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo05 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
        }
    }
    
        .imageList{
            display: block;
            .random{
                text-align: center;
                img{
                    height: 20rem;
                    border-radius: 10px;
                    width: auto;
                }
            }
            .todo{
                text-align: center;
                img{
                    height: 20rem;
                    border-radius: 10px;
                    width: auto;
                }
            }
            .weather{
                text-align: center;
                img{
                    height: 20rem;
                    border-radius: 10px;
                    width: auto;
                }
            }
            }
}