.bandeau {
  overflow-x: hidden;
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 450vh;
  background-color: black;
}

@-webkit-keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.bandeau .photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-animation: slideshow 30s infinite linear;
          animation: slideshow 30s infinite linear;
}

.bandeau .photo .photo01 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: silver;
}

.bandeau .photo .photo02 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: silver;
}

.fairmadeBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fairmadeBlock .fairmadeImage {
  width: 50%;
}

.fairmadeBlock .fairmadeImage .fairmade {
  position: absolute;
  left: 10vw;
  top: 40vh;
  z-index: 2;
  height: 60vh;
}

.fairmadeBlock .fairmadeImage .fairmadeSquare {
  position: absolute;
  top: 50vh;
  z-index: 1;
  left: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.fairmadeBlock .fairmadeText {
  width: 50%;
}

.fairmadeBlock .fairmadeText .fairmadeTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 20vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.fairmadeBlock .fairmadeText .fairmadeExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 13vh;
  line-height: 5vh;
  font-family: Champagne;
  font-size: 2.2rem;
}

.fairmadeBlock .fairmadeText a {
  position: relative;
  top: 13vh;
  text-decoration: none;
  color: silver;
  padding-left: 30vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.fairmadeBlock .fairmadeText a:hover {
  color: grey;
}

.twitterBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.twitterBlock .twitterImage {
  width: 50%;
}

.twitterBlock .twitterImage .twitter {
  position: absolute;
  right: 10vw;
  top: 160vh;
  z-index: 2;
  height: 60vh;
}

.twitterBlock .twitterImage .twitterSquare {
  position: absolute;
  top: 150vh;
  z-index: 1;
  right: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.twitterBlock .twitterText {
  width: 50%;
}

.twitterBlock .twitterText .twitterTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 22vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.twitterBlock .twitterText .twitterExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 12vh;
  font-family: Champagne;
  font-size: 2.2rem;
  line-height: 5vh;
}

.twitterBlock .twitterText a {
  position: relative;
  top: 12vh;
  text-decoration: none;
  color: silver;
  padding-left: 42vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.twitterBlock .twitterText a:hover {
  color: grey;
}

.weatherBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.weatherBlock .weatherImage {
  width: 50%;
}

.weatherBlock .weatherImage .weather {
  position: absolute;
  left: 10vw;
  top: 260vh;
  z-index: 2;
  height: 60vh;
}

.weatherBlock .weatherImage .weatherSquare {
  position: absolute;
  top: 270vh;
  z-index: 1;
  left: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.weatherBlock .weatherText {
  width: 50%;
}

.weatherBlock .weatherText .weatherTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 40vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.weatherBlock .weatherText .weatherExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 11vh;
  font-family: Champagne;
  font-size: 2.2rem;
  line-height: 5vh;
}

.weatherBlock .weatherText a {
  position: relative;
  top: 11vh;
  text-decoration: none;
  color: silver;
  padding-left: 39vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.weatherBlock .weatherText a:hover {
  color: grey;
}

.recipeBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.recipeBlock .recipeImage {
  width: 50%;
}

.recipeBlock .recipeImage .recipe {
  position: absolute;
  right: 10vw;
  top: 370vh;
  z-index: 2;
  height: 60vh;
}

.recipeBlock .recipeImage .recipeSquare {
  position: absolute;
  top: 360vh;
  z-index: 1;
  right: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.recipeBlock .recipeText {
  width: 50%;
}

.recipeBlock .recipeText .recipeTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 32vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.recipeBlock .recipeText .recipeExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 7vh;
  font-family: Champagne;
  font-size: 2.2rem;
  line-height: 5vh;
}

.recipeBlock .recipeText a {
  display: none;
  position: relative;
  top: 7vh;
  text-decoration: none;
  color: silver;
  padding-left: 37vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.recipeBlock .recipeText a:hover {
  color: grey;
}

@media screen and (max-width: 890px) {
  .bandeau {
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-y: auto;
  }
  .bandeau .photo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-animation: slideshow 30s infinite linear;
            animation: slideshow 30s infinite linear;
  }
  .bandeau .photo .photo01 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
  .bandeau .photo .photo02 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
  .bandeau .fairmadeBlock {
    display: block;
  }
  .bandeau .fairmadeBlock .fairmadeImage .fairmade {
    top: 60vh;
    height: 35vh;
  }
  .bandeau .fairmadeBlock .fairmadeImage .fairmadeSquare {
    top: 63vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .fairmadeBlock .fairmadeText .fairmadeTitle {
    margin-top: 8vh;
    font-size: 6.5vh;
  }
  .bandeau .fairmadeBlock .fairmadeText .fairmadeExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
  .bandeau .fairmadeBlock .fairmadeText a {
    top: 0vh;
    font-size: 4vh;
    left: 45vw;
  }
  .bandeau .twitterBlock {
    margin-top: -10vh;
    display: block;
  }
  .bandeau .twitterBlock .twitterImage .twitter {
    top: 171vh;
    height: 35vh;
  }
  .bandeau .twitterBlock .twitterImage .twitterSquare {
    top: 168vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .twitterBlock .twitterText .twitterTitle {
    margin-top: 8vh;
    width: 90vw;
    font-size: 6.5vh;
  }
  .bandeau .twitterBlock .twitterText .twitterExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
  .bandeau .twitterBlock .twitterText a {
    top: 0vh;
    font-size: 4vh;
    left: 30vw;
  }
  .bandeau .weatherBlock {
    margin-top: 8vh;
    display: block;
  }
  .bandeau .weatherBlock .weatherImage .weather {
    top: 285vh;
    height: 35vh;
  }
  .bandeau .weatherBlock .weatherImage .weatherSquare {
    top: 288vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .weatherBlock .weatherText .weatherTitle {
    width: 90vw;
    margin-top: 8vh;
    font-size: 6.5vh;
  }
  .bandeau .weatherBlock .weatherText .weatherExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
  .bandeau .weatherBlock .weatherText a {
    top: 0vh;
    font-size: 4vh;
    left: 38vw;
  }
  .bandeau .recipeBlock {
    margin-top: 15vh;
    display: block;
  }
  .bandeau .recipeBlock .recipeImage .recipe {
    top: 400vh;
    height: 35vh;
  }
  .bandeau .recipeBlock .recipeImage .recipeSquare {
    top: 403vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .recipeBlock .recipeText .recipeTitle {
    margin-top: 8vh;
    font-size: 6.5vh;
    width: 90vw;
  }
  .bandeau .recipeBlock .recipeText .recipeExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
}
/*# sourceMappingURL=Projects.css.map */