.bandeau {
    height: max-content !important;
    overflow: hidden;
    position: absolute;
    top: 100vh;
    width: 100vw;
    background-color: black;

    @keyframes slideshow {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-50%);
        }
    }

    .photo {
        display: inline-flex;
        animation: slideshow 30s infinite linear;

        .photo01 {
            padding-left: 5vw;
            padding-top: 2vh;
            font-size: 15rem;
            font-family: Morganite;
            color: black;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: silver;
        }

        .photo02 {
            padding-left: 5vw;
            padding-top: 2vh;
            font-size: 15rem;
            font-family: Morganite;
            color: silver;
        }
    }

    .projects {
        margin-top: 20vh;
        display: block;
        font-family: Champagne;

        //Commun à tous les blocs projet
        .description {
            text-align: center;
            color: white;
            h2{
                font-size: 8rem;
                font-family: Morganite;
            }
            p {
                text-align: justify;
                margin: 3vw;
                font-size: 1.2rem;
            }
        }
        .github{
            margin-top: 3.5vh;
            font-weight: bold;
            a{
                color: white;
                .fab ,.fas{
                    margin-left: 1vw;
                    font-size: 1.5rem;
                    transition: 0.2s linear;
                    &:hover{
                        color: gray;
                    }
                }
            }
            
        }
      
        h3{
            font-size: 2rem;
            text-decoration: underline;
        }
       ul{
           padding-top: 2.5vh;
           li{
               list-style: none;
               font-size: 1.3rem;
           }
       }
        .hutownBlock {
            display: inline-flex;
            .hutownImg {
                margin-left: 5vw;
                max-width: 60vw;
                max-height: 60vh;
            }
        }
        .fairmadeBlock {
            display: flex;
            justify-content: flex-end;
            margin-top: 30vh;
            margin-right: 10vw;
            .fairmadeImg {
                margin-left: 2vw;
                max-width: 60vw;
                max-height: 60vh;
            }
        }

        .recipeBlock {
            margin-top: 30vh;
            display: inline-flex;
            .recipeImg {
                margin-left: 10vw;
                max-width: 60vw;
                max-height: 60vh;
            }
        }

        .twitterBlock {
            display: flex;
            justify-content: flex-end;
            margin-top: 30vh;
            margin-right: 10vw;

            .twitterImg {
                margin-left: 2vw;
                max-width: 60vw;
                max-height: 60vh;
            }
        }

        .weatherBlock {
            margin-top: 30vh;
            display: inline-flex;
            .weatherImg {
                margin-left: 10vw;
                max-width: 60vw;
                max-height: 60vh;
            }
        }
    }
    .sentenceEnd{
        color: white;
        font-size: 4.5rem;
        text-align: center;
        padding-top: 15vh;
        padding-bottom: 5vh;
        font-family: Morganite;
    }
}



@media screen and (max-width: 890px) {
    .bandeau {
        height: max-content;
        position: absolute;
        top: 130vh;
        width: 100vw;
        background-color: black;

        h3{margin-top: 5vh;}

        .photo {
            display: inline-flex;
            animation: slideshow 30s infinite linear;

            .photo01 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }

            .photo02 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
        }
        .projects{
            .hutownBlock{
                display: block;
                .hutownImg{
                    display: none;
                }
                .hutownMobile{
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                    width: 90vw;
                }
            }
            .fairmadeBlock{
                display: block;
                margin-right: 0;
                .fairmadeImg{
                    display: none;
                }
                .fairmadeMobile{
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                    width: 90vw;
                }
                li{padding-left: 2vw;
                    padding-right: 2vw;}
            }
            .recipeBlock{
                display: block;
                margin-right: 0;
                .recipeImg{
                    display: none;
                }
                .recipeMobile{
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                    width: 90vw;
                }
            }
            .twitterBlock{
                margin-top: 5vh;
                display: block;
                margin-right: 0;
                .twitterImg{
                    display: none;
                }
                .twitterMobile{
                    margin-top: 5vH;
                    margin-bottom: 5vh;
                    width: 90vw;
                }
            }
        }
    }
}