

.bandeau {
    
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: black;


    @keyframes slideshow {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    
    }


    .photo {
        display: inline-flex;
        animation: slideshow 30s infinite linear;

        .photo01 {
            padding-left: 5vw;
            padding-top: 2vh;
            font-size: 15rem;
            font-family: Morganite;
            color: black;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: silver;
        }

        .photo02 {
            padding-left: 5vw;
            padding-top: 2vh;
            font-size: 15rem;
            font-family: Morganite;
            color: silver; 
        }
    }

}
.imageList{
display: flex;
justify-content: space-around;
.random{
    padding-top: 10vh;
    img{
        height: 25rem;
        border-radius: 10px;
        width: 20vw;
    }
}
.todo{
    padding-top: 10vh;
    img{
        height: 25rem;
        border-radius: 10px;
        width: 20vw;
    }
}
.weather{
    padding-top: 10vh;
    img{
        height: 25rem;
        border-radius: 10px;
        width: 20vw;
    }
}
}

@media screen and (max-width: 890px) {
    .bandeau {
        position: absolute;
        top: 100vh;
        width: 100vw;
        height: 100vh;
        background-color: black;
        overflow-x: hidden;


        .photo {
            display: inline-flex;
            animation: slideshow 30s infinite linear;
    
            .photo01 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo02 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo03 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo04 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
    
            .photo05 {
                padding-left: 5vw;
                padding-top: 2vh;
                font-size: 10vh;
            }
        }
    }
    
        .imageList{
            display: block;
            .random{
                text-align: center;
                img{
                    height: 20rem;
                    border-radius: 10px;
                    width: auto;
                }
            }
            .todo{
                text-align: center;
                img{
                    height: 20rem;
                    border-radius: 10px;
                    width: auto;
                }
            }
            .weather{
                text-align: center;
                img{
                    height: 20rem;
                    border-radius: 10px;
                    width: auto;
                }
            }
            }
}