
.menu {
    position: fixed !important;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    background-color: #A49C9B;
    
    .name {
        margin-left: 10vh;
        margin-top: 4vh;
        .surname {
            font-family: Morganite;
            font-size: 50vh;

            .firstLetter {
                color: whitesmoke;
            }
        }
        .lastname {
            padding-top: 7vh;
            margin-top: -23vh;
            padding-bottom: 35vh;
            font-family: Morganite;
            font-size: 50vh;

            .firstLetter {
                color: whitesmoke;
            }
        }

    }

    .navbar{
        .hamburger{
            display: none;
            position: absolute;
            right: 5vw;
            top: 5vh;
           

        }
        
        .nav{
            list-style: none;
            display: none;
            li{
                color: black;
                font-family: Morganite4;
                font-size: 2rem;
                letter-spacing: 0.5rem;
                line-height: rem;
                

            }
        }
    }

    .title {
        animation: 2s linear;
        animation-fill-mode: forwards;
        animation-delay: 5s;
        position: absolute;
        top: 35%;
        left: 60%;

        .webDev {
            margin-top: -2vh;
            font-family: Morganite3;
            font-size: 150px;
            
        }

        .design {
            margin-top: -3vh;
            color: whitesmoke;
            font-family: Morganite3;
            font-size: 150px;

        }


        .city {
            margin-top: -3vh;
            font-family: Morganite3;
            font-size: 150px;

        }

    }


}


@media screen and (max-width: 890px) {

    .menu {
        position: fixed !important;
        height: 100vh;
        width: 100vw;
        display: block;
        overflow-x: hidden;
        .name {
            text-align: center;
            margin-left: 0;
            margin-top: 0;
            .surname{
                font-size: 30vh;
            }
            .lastname{
                padding-top: 15vh;
                margin-top: -23vh;
                padding-bottom: 35vh;
                font-size: 30vh;
                
            }

    
        }
    
        .navbar{
            display: none;
        }
    
        .title {
            position: absolute;
            left: 0;
            top:60%;
            width: 100%;
            text-align: center;
            .webDev {
                font-size: 12vh;
            }
            .design {
                font-size: 12vh;
            }
            .city {
                font-size: 12vh;
            }
    
        }
    
    
    }




}