.container-about{
    background-color: #A49C9B;
    overflow-x: hidden;
    height: 100vh; 
    .black-start {
        height: 100%;
        width: 100vw;
        background-color: black;
        position: fixed;
        z-index: 50;
        overflow-x: hidden !important;


        h2 {
            width: 100vw;
            transform: translateY(-50%);
            position: absolute;
            top: 50vh;
            line-height: 4.2rem;
            font-size: 7rem;

            .line {
                margin-left: 4vw;
                position: relative;
                overflow: hidden;
                margin-bottom: -2.5vh;
                padding-top: 2vh;
                height: 130px;

                span {
                    font-family: Champagne;
                    font-weight: 300;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    color: white;
                    display: block;
                }
            }
        }
    }
    .main-title {
        height: 45vh;
        h3 {
            color: black;
            font-family: Morganite;
            font-size: 40vh;
            margin-left: 5vw;
            padding-top: 5vh;

            span {
                color: white;
            }
        }

    }
    .presentation{
        margin-left: 7vw;
        margin-top: 3vh;
        width: 100vw;
        display: inline-flex;
        .text-presentation{
            width: 50vw;
            p{
                margin-left: 5vw;
                font-size: 1.5em;
                font-family: Champagne;
            }  
            .contact{
                margin-top: 1vh;
                a{
                    margin-left: 1vw;
                    i{
                        width: 4vw;
                        font-size: 3vh;
                        color: black;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            ul{
                text-decoration: none;
                list-style: none;
                margin-left: 2vw;
                li{
                    margin-top: 1vh;
                    font-family: Champagne;
                    font-size: 1.5em;
                    margin-left: 4vw;
                }
            }
            .liste{
                margin-top: 3vh;
                
                a{
                    list-style: none;
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: white;
                    }
                }
            }

        }
         .image-presentation{
             width: 30vw;
             text-align: center;
            img{
                margin-left: 5vw;
                height: 50vh;
            }

         }
        

    }
}
@media screen and (max-width: 890px) {
    

    .container-about{
        background-color: #A49C9B;
        overflow-x: hidden;
        height: 150vh;
        width: 100vw;

        .black-start {
            height: 100%;
            width: 100vw;
            background-color: black;
            position: relative;
    
            h2 {
                width: 100vw;
                transform: translateY(-70%);
                position: absolute;
                text-align: center;
                top: 50vh;
                line-height: 4.2rem;
                font-size: 3.8rem;
    
                .line {
                    margin-left: 4vw;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: -2.5vh;
                    padding-top: 2vh;
                    height: 130px;
    
                    span {
                        font-family: Champagne;
                        font-weight: 300;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        color: white;
                        display: block;
                    }
                }
            }
        }
        .div-about{
            width: 100vw;
            height: max-content;
            position: absolute;
            top: -15vh;
            
        .main-title {
            padding-top: 13vh;
            height: 50vh;
    
            h3 {
                color: black;
                font-family: Morganite;
                font-size: 20vh;
                text-align: center;
                padding-left: 0vw;
                padding-top: 14vh;
                margin-left: 0vw;
    
                span {
                    color: white;
                }
            }
    
        }
        .presentation{
            margin-top: -5vh;
            width: 100vw;
            display: block;
            text-align: justify;
            .text-presentation{
                width: 80vw;
                p{
                    line-height: 5vh;
                    margin-left: 2vw;
                    font-size: 1.2em;
                    font-family: Champagne;
                }  
                .contact{
                    margin-top: 5vh;
                    a{
                        margin-left: 1vw;
                        i{
                            width: 4vw;
                            font-size: 3vh;
                            color: black;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
                .liste{
                    margin-top: 5vh;
                    
                    a{
                        list-style: none;
                        text-decoration: none;
                        color: black;
                        &:hover{
                            color: white;
                        }
                    }
                }
                ul{
                    text-decoration: none;
                    list-style: none;
                    margin-left: 2vw;
                    font-size: 0.8em;
                }
    
            }
             .image-presentation{
                 width: 100vw;
                 display: none;
                 text-align: center;
                img{
                    margin-left: 5vw;
                    height: 80vh;
                }
    
             }
            
    
        }
    }
    }
}