.container-photograph {
  background-color: #A49C9B;
  height: 940vh;
  width: 100vw;
}

.container-photograph .black-start {
  height: 100%;
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: 50;
}

.container-photograph .black-start h2 {
  width: 100vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  line-height: 4.2rem;
  font-size: 7rem;
}

.container-photograph .black-start h2 .line {
  margin-left: 4vw;
  position: relative;
  overflow: hidden;
  margin-bottom: -2.5vh;
  padding-top: 2vh;
  height: 130px;
}

.container-photograph .black-start h2 .line span {
  font-family: Champagne;
  font-weight: 300;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  display: block;
}

.container-photograph .main-title {
  height: 45vh;
}

.container-photograph .main-title h3 {
  color: black;
  font-family: Morganite;
  font-size: 40vh;
  margin-left: 5vw;
  padding-top: 5vh;
}

.container-photograph .main-title h3 span {
  color: white;
}

.container-photograph .photograph-text-intro {
  height: 45vh;
  width: 100vw;
}

.container-photograph .photograph-text-intro .photograph-text {
  margin-top: 20vh;
  position: relative;
  left: 50vw;
  color: whitesmoke;
  text-align: justify;
  font-family: Champagne;
  font-size: 3.7vh;
  font-weight: 600;
  line-height: 7vh;
}

.container-photograph .photographs .londonCity {
  width: 85vw;
  text-align: end;
}

.container-photograph .photographs .londonCity .london {
  position: relative;
  height: 55vh;
}

.container-photograph .photographs .londonCity p {
  position: relative;
  color: white;
  font-size: 4vh;
  font-weight: 100;
  letter-spacing: 0.3vw;
  font-family: Morganite;
}

.container-photograph .photographs .londonBridge {
  padding-top: 35vh;
  margin-left: 10vw;
  width: 85vw;
  text-align: start;
}

.container-photograph .photographs .londonBridge .bridge {
  position: relative;
  height: 65vh;
}

.container-photograph .photographs .londonBridge p {
  position: relative;
  color: white;
  font-size: 4vh;
  font-weight: 100;
  letter-spacing: 0.3vw;
  font-family: Morganite;
}

.container-photograph .photographs .londonShop {
  padding-top: 35vh;
  width: 85vw;
  text-align: end;
}

.container-photograph .photographs .londonShop .shop {
  position: relative;
  height: 65vh;
}

.container-photograph .photographs .londonShop p {
  position: relative;
  color: white;
  font-size: 4vh;
  font-weight: 100;
  letter-spacing: 0.3vw;
  font-family: Morganite;
}

.container-photograph .photographs .judStreet {
  padding-top: 35vh;
  width: 85vw;
  margin-left: 10vw;
  text-align: start;
}

.container-photograph .photographs .judStreet .jude {
  position: relative;
  height: 65vh;
}

.container-photograph .photographs .judStreet p {
  position: relative;
  color: white;
  font-size: 4vh;
  font-weight: 100;
  letter-spacing: 0.3vw;
  font-family: Morganite;
}

.container-photograph .photographs .titre-divers {
  height: 45vh;
}

.container-photograph .photographs .titre-divers h3 {
  color: white;
  font-family: Morganite;
  font-size: 40vh;
  margin-left: 5vw;
  padding-top: 20vh;
}

.container-photograph .photographs .titre-divers h3 span {
  color: black;
}

.container-photograph .photographs .photographs-divers {
  list-style: none;
  padding-top: 20vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  padding-right: 2vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
}

.container-photograph .photographs .photographs-divers img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 35vh;
  padding-right: 2vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 2vw;
  width: 100%;
}

.container-photograph .photographs .photographs-divers img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container-photograph .modal-image {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: calc(0%);
  left: calc(0);
}

.container-photograph .modal-image button {
  position: absolute;
  top: 3vh;
  right: 3vw;
  font-size: 5vh;
  background: none;
  border: none;
}

.container-photograph .modal-image img {
  -webkit-transition: 1s;
  transition: 1s;
  top: 10vh;
  position: relative;
  height: 80vh;
}

@media screen and (max-width: 890px) {
  .container-photograph {
    overflow-x: hidden;
    background-color: #A49C9B;
    height: 700vh;
    max-width: 100vw;
  }
  .container-photograph .black-start {
    height: 100%;
    width: 100vw;
    background-color: black;
    position: relative;
  }
  .container-photograph .black-start h2 {
    width: 100vw;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    position: absolute;
    text-align: center;
    top: 50vh;
    line-height: 4.2rem;
    font-size: 3.8rem;
  }
  .container-photograph .black-start h2 .line {
    margin-left: 4vw;
    position: relative;
    overflow: hidden;
    margin-bottom: -2.5vh;
    padding-top: 2vh;
    height: 130px;
  }
  .container-photograph .black-start h2 .line span {
    font-family: Champagne;
    font-weight: 300;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: white;
    display: block;
  }
  .container-photograph .div-photo {
    overflow-x: hidden;
    width: 100vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    top: 0vh;
  }
  .container-photograph .div-photo .main-title {
    padding-top: 13vh;
    height: 50vh;
  }
  .container-photograph .div-photo .main-title h3 {
    color: black;
    font-family: Morganite;
    font-size: 17vh;
    text-align: center;
    padding-left: 0vw;
    padding-top: 14vh;
    margin-left: 0vw;
  }
  .container-photograph .div-photo .main-title h3 span {
    color: white;
  }
  .container-photograph .div-photo .photograph-text-intro {
    height: 60vh;
    width: 100vw;
  }
  .container-photograph .div-photo .photograph-text-intro .photograph-text {
    margin-top: 0vh;
    padding-left: 1vw;
    padding-right: 1vw;
    position: relative;
    margin-left: 2vw;
    left: 0vw;
    line-height: 4vh;
    color: whitesmoke;
    text-align: start;
    font-family: Champagne;
    font-size: 3.8vh;
    font-weight: 600;
  }
  .container-photograph .div-photo .photographs .londonCity {
    width: 98vw;
    text-align: end;
    margin-left: 1vw;
  }
  .container-photograph .div-photo .photographs .londonCity .london {
    position: relative;
    height: auto;
    width: 100%;
  }
  .container-photograph .div-photo .photographs .londonCity p {
    position: relative;
    color: white;
    font-size: 4vh;
    font-weight: 100;
    letter-spacing: 0.3vw;
    font-family: Morganite;
  }
  .container-photograph .div-photo .photographs .londonBridge {
    padding-top: 10vh;
    margin-left: 0vw;
    width: 98vw;
    text-align: start;
    margin-left: 1vw;
  }
  .container-photograph .div-photo .photographs .londonBridge .bridge {
    position: relative;
    height: auto;
    width: 100%;
  }
  .container-photograph .div-photo .photographs .londonBridge p {
    position: relative;
    color: white;
    font-size: 4vh;
    font-weight: 100;
    letter-spacing: 0.3vw;
    font-family: Morganite;
  }
  .container-photograph .div-photo .photographs .londonShop {
    padding-top: 10vh;
    width: 98vw;
    margin-left: 1vw;
    text-align: end;
  }
  .container-photograph .div-photo .photographs .londonShop .shop {
    position: relative;
    height: auto;
    width: 100%;
  }
  .container-photograph .div-photo .photographs .londonShop p {
    position: relative;
    color: white;
    font-size: 4vh;
    font-weight: 100;
    letter-spacing: 0.3vw;
    font-family: Morganite;
  }
  .container-photograph .div-photo .photographs .judStreet {
    padding-top: 10vh;
    width: 98vw;
    margin-left: 1vw;
    text-align: start;
  }
  .container-photograph .div-photo .photographs .judStreet .jude {
    position: relative;
    height: auto;
    width: 100%;
  }
  .container-photograph .div-photo .photographs .judStreet p {
    position: relative;
    color: white;
    font-size: 4vh;
    font-weight: 100;
    letter-spacing: 0.3vw;
    font-family: Morganite;
  }
  .container-photograph .div-photo .photographs .titre-divers {
    height: 45vh;
  }
  .container-photograph .div-photo .photographs .titre-divers h3 {
    color: white;
    font-family: Morganite;
    font-size: 20vh;
    margin-left: 5vw;
    padding-top: 20vh;
  }
  .container-photograph .div-photo .photographs .titre-divers h3 span {
    color: black;
  }
  .container-photograph .div-photo .photographs .photographs-divers {
    width: 90vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
}
/*# sourceMappingURL=Photographs.css.map */