.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #A49C9B;
  overflow-x: hidden;
}

.menu .name {
  margin-left: 10vh;
  margin-top: 4vh;
}

.menu .name .surname {
  font-family: Morganite;
  font-size: 50vh;
}

.menu .name .surname .firstLetter {
  color: whitesmoke;
}

.menu .name .lastname {
  padding-top: 7vh;
  margin-top: -23vh;
  padding-bottom: 35vh;
  font-family: Morganite;
  font-size: 50vh;
}

.menu .name .lastname .firstLetter {
  color: whitesmoke;
}

.menu .navbar .hamburger {
  position: absolute;
  right: 5vw;
  top: 5vh;
}

.menu .navbar .nav {
  list-style: none;
  display: none;
}

.menu .navbar .nav li {
  color: black;
  font-family: Morganite4;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  line-height: rem;
}

.menu .title {
  -webkit-animation: 2s linear;
          animation: 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  position: absolute;
  top: 35%;
  left: 60%;
}

.menu .title .webDev {
  margin-top: -2vh;
  font-family: Morganite3;
  font-size: 150px;
}

.menu .title .design {
  margin-top: -3vh;
  color: whitesmoke;
  font-family: Morganite3;
  font-size: 150px;
}

.menu .title .city {
  margin-top: -3vh;
  font-family: Morganite3;
  font-size: 150px;
}

@media screen and (max-width: 890px) {
  .menu {
    position: fixed !important;
    height: 100vh;
    width: 100vw;
    display: block;
    overflow-x: hidden;
  }
  .menu .name {
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
  .menu .name .surname {
    font-size: 30vh;
  }
  .menu .name .lastname {
    padding-top: 15vh;
    margin-top: -23vh;
    padding-bottom: 35vh;
    font-size: 30vh;
  }
  .menu .navbar {
    display: none;
  }
  .menu .title {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
  }
  .menu .title .webDev {
    font-size: 12vh;
  }
  .menu .title .design {
    font-size: 12vh;
  }
  .menu .title .city {
    font-size: 12vh;
  }
}

.bandeau {
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 200vh;
  background-color: black;
  overflow-x: hidden;
}

@-webkit-keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.bandeau .photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-animation: slideshow 30s infinite linear;
          animation: slideshow 30s infinite linear;
}

.bandeau .photo .photo01 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: silver;
}

.bandeau .photo .photo02 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: silver;
}

.imageList {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.imageList .fairmadeImage {
  width: 50%;
}

.imageList .fairmadeImage .fairmade {
  position: absolute;
  left: 10vw;
  top: 40vh;
  z-index: 2;
  height: 60vh;
}

.imageList .fairmadeImage .fairmadeSquare {
  position: absolute;
  top: 50vh;
  z-index: 1;
  left: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.imageList .fairmadeText {
  width: 50%;
}

.imageList .fairmadeText .fairmadeTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 26vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.imageList .fairmadeText .fairmadeExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 7vh;
  font-family: Champagne;
  font-size: 2.2rem;
}

@media screen and (max-width: 890px) {
  .bandeau {
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
  }
  .bandeau .photo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-animation: slideshow 30s infinite linear;
            animation: slideshow 30s infinite linear;
  }
  .bandeau .photo .photo01 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
  .bandeau .photo .photo02 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
}

@font-face {
  font-family: Morganite;
  src: url("./fonts/Morganite/Morganite-ExtraBold.ttf");
}

@font-face {
  font-family: Morganite2;
  src: url("./fonts/Morganite/Morganite-Medium.ttf");
}

@font-face {
  font-family: Morganite3;
  src: url("./fonts/Morganite/Morganite-Light.ttf");
}

@font-face {
  font-family: Morganite4;
  src: url("./fonts/Morganite/Morganite-Black.ttf");
}

@font-face {
  font-family: Champagne;
  src: url("./fonts/Champagne/Champagne & Limousines.ttf");
}

@font-face {
  font-family: ChampagneBold;
  src: url("./fonts/Champagne/Champagne & Limousines Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=App.css.map */