.menu {
  position: fixed !important;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #A49C9B;
}

.menu .name {
  margin-left: 10vh;
  margin-top: 4vh;
}

.menu .name .surname {
  font-family: Morganite;
  font-size: 50vh;
}

.menu .name .surname .firstLetter {
  color: whitesmoke;
}

.menu .name .lastname {
  padding-top: 7vh;
  margin-top: -23vh;
  padding-bottom: 35vh;
  font-family: Morganite;
  font-size: 50vh;
}

.menu .name .lastname .firstLetter {
  color: whitesmoke;
}

.menu .navbar .hamburger {
  position: absolute;
  right: 5vw;
  top: 5vh;
}

.menu .navbar .nav {
  list-style: none;
  display: none;
}

.menu .navbar .nav li {
  color: black;
  font-family: Morganite4;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  line-height: rem;
}

.menu .title {
  -webkit-animation: 2s linear;
          animation: 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  position: absolute;
  top: 35%;
  left: 60%;
}

.menu .title .webDev {
  margin-top: -2vh;
  font-family: Morganite3;
  font-size: 150px;
}

.menu .title .design {
  margin-top: -3vh;
  color: whitesmoke;
  font-family: Morganite3;
  font-size: 150px;
}

.menu .title .city {
  margin-top: -3vh;
  font-family: Morganite3;
  font-size: 150px;
}

@media screen and (max-width: 890px) {
  .menu {
    position: fixed !important;
    height: 100vh;
    width: 100vw;
    display: block;
    overflow-x: hidden;
  }
  .menu .name {
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
  .menu .name .surname {
    font-size: 30vh;
  }
  .menu .name .lastname {
    padding-top: 15vh;
    margin-top: -23vh;
    padding-bottom: 35vh;
    font-size: 30vh;
  }
  .menu .navbar {
    display: none;
  }
  .menu .title {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
  }
  .menu .title .webDev {
    font-size: 12vh;
  }
  .menu .title .design {
    font-size: 12vh;
  }
  .menu .title .city {
    font-size: 12vh;
  }
}

.bandeau {
  overflow-x: hidden;
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 450vh;
  background-color: black;
}

@-webkit-keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slideshow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.bandeau .photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-animation: slideshow 30s infinite linear;
          animation: slideshow 30s infinite linear;
}

.bandeau .photo .photo01 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: silver;
}

.bandeau .photo .photo02 {
  padding-left: 5vw;
  padding-top: 2vh;
  font-size: 15rem;
  font-family: Morganite;
  color: silver;
}

.fairmadeBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fairmadeBlock .fairmadeImage {
  width: 50%;
}

.fairmadeBlock .fairmadeImage .fairmade {
  position: absolute;
  left: 10vw;
  top: 40vh;
  z-index: 2;
  height: 60vh;
}

.fairmadeBlock .fairmadeImage .fairmadeSquare {
  position: absolute;
  top: 50vh;
  z-index: 1;
  left: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.fairmadeBlock .fairmadeText {
  width: 50%;
}

.fairmadeBlock .fairmadeText .fairmadeTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 20vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.fairmadeBlock .fairmadeText .fairmadeExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 13vh;
  line-height: 5vh;
  font-family: Champagne;
  font-size: 2.2rem;
}

.fairmadeBlock .fairmadeText a {
  position: relative;
  top: 13vh;
  text-decoration: none;
  color: silver;
  padding-left: 30vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.fairmadeBlock .fairmadeText a:hover {
  color: grey;
}

.twitterBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.twitterBlock .twitterImage {
  width: 50%;
}

.twitterBlock .twitterImage .twitter {
  position: absolute;
  right: 10vw;
  top: 160vh;
  z-index: 2;
  height: 60vh;
}

.twitterBlock .twitterImage .twitterSquare {
  position: absolute;
  top: 150vh;
  z-index: 1;
  right: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.twitterBlock .twitterText {
  width: 50%;
}

.twitterBlock .twitterText .twitterTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 22vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.twitterBlock .twitterText .twitterExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 12vh;
  font-family: Champagne;
  font-size: 2.2rem;
  line-height: 5vh;
}

.twitterBlock .twitterText a {
  position: relative;
  top: 12vh;
  text-decoration: none;
  color: silver;
  padding-left: 42vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.twitterBlock .twitterText a:hover {
  color: grey;
}

.weatherBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.weatherBlock .weatherImage {
  width: 50%;
}

.weatherBlock .weatherImage .weather {
  position: absolute;
  left: 10vw;
  top: 260vh;
  z-index: 2;
  height: 60vh;
}

.weatherBlock .weatherImage .weatherSquare {
  position: absolute;
  top: 270vh;
  z-index: 1;
  left: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.weatherBlock .weatherText {
  width: 50%;
}

.weatherBlock .weatherText .weatherTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 40vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.weatherBlock .weatherText .weatherExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 11vh;
  font-family: Champagne;
  font-size: 2.2rem;
  line-height: 5vh;
}

.weatherBlock .weatherText a {
  position: relative;
  top: 11vh;
  text-decoration: none;
  color: silver;
  padding-left: 39vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.weatherBlock .weatherText a:hover {
  color: grey;
}

.recipeBlock {
  height: 100vh;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.recipeBlock .recipeImage {
  width: 50%;
}

.recipeBlock .recipeImage .recipe {
  position: absolute;
  right: 10vw;
  top: 370vh;
  z-index: 2;
  height: 60vh;
}

.recipeBlock .recipeImage .recipeSquare {
  position: absolute;
  top: 360vh;
  z-index: 1;
  right: 15vw;
  height: 60vh;
  width: 60vh;
  background-color: silver;
}

.recipeBlock .recipeText {
  width: 50%;
}

.recipeBlock .recipeText .recipeTitle {
  text-align: left;
  padding-left: 10vw;
  color: silver;
  margin-top: 32vh;
  font-family: ChampagneBold;
  font-size: 5rem;
  text-decoration: none;
}

.recipeBlock .recipeText .recipeExp {
  padding-left: 10vw;
  color: silver;
  margin-top: 7vh;
  font-family: Champagne;
  font-size: 2.2rem;
  line-height: 5vh;
}

.recipeBlock .recipeText a {
  position: relative;
  top: 7vh;
  text-decoration: none;
  color: silver;
  padding-left: 37vw;
  margin-top: 5vh !important;
  font-size: 3.5rem;
}

.recipeBlock .recipeText a:hover {
  color: grey;
}

@media screen and (max-width: 890px) {
  .bandeau {
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
  }
  .bandeau .photo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-animation: slideshow 30s infinite linear;
            animation: slideshow 30s infinite linear;
  }
  .bandeau .photo .photo01 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
  .bandeau .photo .photo02 {
    padding-left: 5vw;
    padding-top: 2vh;
    font-size: 10vh;
  }
  .bandeau .fairmadeBlock {
    display: block;
  }
  .bandeau .fairmadeBlock .fairmadeImage .fairmade {
    top: 60vh;
    height: 35vh;
  }
  .bandeau .fairmadeBlock .fairmadeImage .fairmadeSquare {
    top: 63vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .fairmadeBlock .fairmadeText .fairmadeTitle {
    margin-top: 8vh;
    font-size: 6.5vh;
  }
  .bandeau .fairmadeBlock .fairmadeText .fairmadeExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
  .bandeau .fairmadeBlock .fairmadeText a {
    top: 0vh;
    font-size: 4vh;
    left: 45vw;
  }
  .bandeau .twitterBlock {
    margin-top: -10vh;
    display: block;
  }
  .bandeau .twitterBlock .twitterImage .twitter {
    top: 171vh;
    height: 35vh;
  }
  .bandeau .twitterBlock .twitterImage .twitterSquare {
    top: 168vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .twitterBlock .twitterText .twitterTitle {
    margin-top: 8vh;
    width: 90vw;
    font-size: 6.5vh;
  }
  .bandeau .twitterBlock .twitterText .twitterExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
  .bandeau .twitterBlock .twitterText a {
    top: 0vh;
    font-size: 4vh;
    left: 30vw;
  }
  .bandeau .weatherBlock {
    margin-top: 8vh;
    display: block;
  }
  .bandeau .weatherBlock .weatherImage .weather {
    top: 285vh;
    height: 35vh;
  }
  .bandeau .weatherBlock .weatherImage .weatherSquare {
    top: 288vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .weatherBlock .weatherText .weatherTitle {
    width: 90vw;
    margin-top: 8vh;
    font-size: 6.5vh;
  }
  .bandeau .weatherBlock .weatherText .weatherExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
  .bandeau .weatherBlock .weatherText a {
    top: 0vh;
    font-size: 4vh;
    left: 38vw;
  }
  .bandeau .recipeBlock {
    margin-top: 15vh;
    display: block;
  }
  .bandeau .recipeBlock .recipeImage .recipe {
    top: 400vh;
    height: 35vh;
  }
  .bandeau .recipeBlock .recipeImage .recipeSquare {
    top: 403vh;
    height: 35vh;
    width: 35vh;
  }
  .bandeau .recipeBlock .recipeText .recipeTitle {
    margin-top: 8vh;
    font-size: 6.5vh;
    width: 90vw;
  }
  .bandeau .recipeBlock .recipeText .recipeExp {
    margin-top: 2vh;
    font-size: 1.3rem;
    width: 80vw;
  }
}

@font-face {
  font-family: Morganite;
  src: url("./fonts/Morganite/Morganite-ExtraBold.ttf");
}

@font-face {
  font-family: Morganite2;
  src: url("./fonts/Morganite/Morganite-Medium.ttf");
}

@font-face {
  font-family: Morganite3;
  src: url("./fonts/Morganite/Morganite-Light.ttf");
}

@font-face {
  font-family: Morganite4;
  src: url("./fonts/Morganite/Morganite-Black.ttf");
}

@font-face {
  font-family: Champagne;
  src: url("./fonts/Champagne/Champagne & Limousines.ttf");
}

@font-face {
  font-family: ChampagneBold;
  src: url("./fonts/Champagne/Champagne & Limousines Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  cursor: none;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=App.css.map */